importFrom(CodeDepends, getInputs)
importFrom(codetools, findGlobals)

export(countCalls, countMCalls)
export(genStackCollector, getCallName, callNames)
export(collectArgInfo, gatherArgInfo)
export(timeFun)
export(timeEval, storeEval)
export(seedChangeEval)
export(collectCallResults)
export(testFunCall)
S3method(testFunCall, CallResultInfo)
S3method(testFunCall, FunctionCallResults)
