export(countCalls, countMCalls)

export(genStackCollector, getCallName, callNames)

export(timeFun)

export(collectArgInfo, gatherArgInfo)

export(timeEval, storeEval)
export(seedChangeEval)

importFrom(CodeDepends, getInputs)

export(collectCallResults)

importFrom(codetools, findGlobals)

export(testFunCall)
S3method(testFunCall, CallResultInfo)
S3method(testFunCall, FunctionCallResults)
